<h2>Reset Password</h2>
<form action="/forgetPassword" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="inputkan email anda" required>
    </div>
 
    <div>
        <input type="submit" value="Kirim Email">
    </div>
</form>
