<h2>Reset Password</h2>
<form action="/resetPassword/:token" method="post">
    <input type="hidden" name="token" value="<%= token %>">
    <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="password">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div class="pt-2" >
        <input type="submit" value="Reset Password">
    </div>
</form>